<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Iris Flower Predictor</title>

</head>
<body>
  
<div class = "ML_inputs">
  <h1> Predict Iris Flower Type</h1>
    <h3> Enter the following values to predict the Iris type</h3>

    <!-- Input section using a form and the Hypertext Transfer Protocol (HTTP) POST method -->
    <!-- Pass the form input to 'url_for'.  Make sure that the url_for argument matches the route method name  in app.py -->
    <form action ="{{url_for('predict')}}"method= "post">
      <input type ="text" name = "sepal_length"  placeholder = "Sepal Length" required = "required" />
      <input type ="text" name = "sepal_width"  placeholder = "Sepal Width" required = "required" />
      <input type ="text" name = "petal_length"  placeholder = "Petal Length" required = "required" />
      <input type ="text" name = "petal_width"  placeholder = "Petal Width" required = "required" />

      <button type ="submit" class ="btn"> Predict</button>
    </form>

    <br>
    <br>
    {{ prediction_text }}
</div>
  

</body>

</html>
